name: CD

on:
  workflow_run:
    workflows: ["CI"]
    types:
      - completed

permissions:
  id-token: write


env:
  AZURE_RG_NAME: rg-${{ vars.PROJECT_NAME }}-${{ vars.AZURE_RESOURCE_IDENTIFIER }}

jobs:
  
  deploy_infrastructure:
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    runs-on: ubuntu-latest
    environment: production

    outputs:
      appServiceName: ${{ steps.bicep_deploy.outputs.appServiceName }}
      staticWebAppName: ${{ steps.bicep_deploy.outputs.staticWebAppName }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Login to Azure
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}

      - name: Create resource group if not exists
        run: |
          az group show --name ${{ env.AZURE_RG_NAME }} ||
          az group create \
            --name ${{ env.AZURE_RG_NAME }} \
            --location ${{ secrets.AZURE_REGION }}

      - name: Deploy bicep
        id: bicep_deploy
        uses: azure/arm-deploy@v2
        with:
          subscriptionId: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
          region: ${{ secrets.AZURE_REGION }}
          template: ./infrastructure/main.bicep
          parameters: project=${{ vars.PROJECT_NAME }} location=${{ secrets.AZURE_REGION }} swaLocation=${{ secrets.AZURE_SWA_REGION }} identifier=${{ vars.AZURE_RESOURCE_IDENTIFIER }}
          resourceGroupName: ${{ env.AZURE_RG_NAME }}


  deploy_backend:
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    name: CD - Backend
    runs-on: ubuntu-latest
    needs: deploy_infrastructure
    environment: production

    steps:
      - name: Download backend artifact
        uses: actions/download-artifact@v4
        with:
          name: backend-publish
          path: backend-publish
          workflow_run_id: ${{ github.event.workflow_run.id }}

      - name: Login to Azure
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}

      - name: Deploy backend
        uses: azure/webapps-deploy@v2
        with:
          app-name: ${{ needs.deploy_infrastructure.outputs.appServiceName }}
          package: backend-publish

  deploy_frontend:
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    name: CD - Frontend
    runs-on: ubuntu-latest
    needs: deploy_infrastructure
    environment: production

    steps:
      - name: Download frontend artifact
        uses: actions/download-artifact@v4
        with:
          name: frontend-build
          path: frontend-dist
          workflow_run_id: ${{ github.event.workflow_run.id }}

      - name: Login to Azure
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}

      - name: Get SWA token
        run: |
          SWA_DEPLOYMENT_TOKEN=$(az staticwebapp secrets list \
            -n ${{ needs.deploy_infrastructure.outputs.staticWebAppName }} \
            -o tsv --query properties.apiKey)
          echo SWA_DEPLOYMENT_TOKEN=$SWA_DEPLOYMENT_TOKEN >> $GITHUB_ENV

      - name: Deploy frontend
        uses: azure/static-web-apps-deploy@v1
        with:
          azure_static_web_apps_api_token: ${{ env.SWA_DEPLOYMENT_TOKEN }}
          app_location: frontend-dist
          action: upload
          skip_app_build: true
          skip_api_build: true
