name: CI

on:
  push:
    tags:
      - "[0-9]+.[0-9]+.[0-9]+"
  workflow_dispatch:

permissions:
  id-token: write

jobs:

  ci_frontend:
    name: CI - Frontend
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install & build frontend
        run: |
          npm install
          npm run build
        working-directory: ./frontend

      - name: Upload frontend artifact
        uses: actions/upload-artifact@v4
        with:
          name: frontend-build
          path: frontend/dist

  ci_backend:
    name: CI - Backend
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup .NET SDK
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '9.0.x'

      - name: Publish backend project
        run: dotnet publish ParkNDeploy.Api/ParkNDeploy.Api.csproj -c Release -o publish
        working-directory: ./backend


      - name: Upload backend artifact
        uses: actions/upload-artifact@v4
        with:
          name: backend-publish
          path: backend/publish
          
  trigger_cd:
    name: Trigger CD
    needs: [ci_frontend, ci_backend]
    uses: ./.github/workflows/cd.yml
    secrets: inherit
